/* Estilos para la imagen */
#headerImage {
    width: 50%;
    max-width: 300px; /* Ancho máximo de la imagen */
    display: block;
    margin: 20px auto; /* Centrar horizontalmente */
}

/* Estilos para el cuerpo de la página */
body {
    background-color: #000; /* Cambia el color de fondo de la página */
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra horizontalmente */
    justify-content: flex-start; /* Alinea los elementos en la parte superior */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    color: #fff; /* Cambia el color del texto */
    font-family: Arial, sans-serif; /* Cambia la fuente del texto */
}

/* Estilos para el reproductor de audio */
audio {
    margin-top: 50%; /* Alinea el reproductor al final del contenedor */
    background-color: pink; /* Cambia el color de fondo del reproductor */
    border: 2px solid hotpink; /* Cambia el color del borde del reproductor */
    border-radius: 10px; /* Añade esquinas redondeadas al reproductor */

}
/* Cambia el color de los controles de reproducción */
audio::-webkit-media-controls-panel {
    background-color: pink;
}